<div class="container">
    <div class="row">
        <div><br>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div><br>
                <div class="form-group">
                    <label for="fecha">Duracion del proyecto</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
                </div><br>
                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div><br>
                <button class="btn btn-primary">Agregar proyecto</button>
            </form>
        </div>
    </div>
</div>