<div class="container" *ngIf="persona">
    <div class="row">
        <div><br>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div><br>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div><br>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="persona.titulo" required>
                </div><br>
                <div class="form-group">
                    <label for="sobreMi">Descripcion sobre mi</label>
                    <input type="text" class="form-control" id="sobreMi" name="sobreMi" [(ngModel)]="persona.sobreMi" required>
                </div><br>
                <div class="form-group">
                    <label for="img">Imagen del usuario</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" required (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div><br>                
                <button class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>
