<!--Experiencia-->

<div class="container-fluid border-bottom border-black ">
    <h1 class="text-p">Experiencia</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end boton ">
        <button  class="btn btn-primary" type="button" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-pencil-square"></i>NUEVA EXPERIENCIA</button>
    </div>
    
    <div class="row expe-edu" *ngFor="let Experiencia of expe">            
        <div class="col-sm-2 col-md-3 col-lg-3 col-xl-2" >
            <img  src="assets/img/experiencia.jpg"  alt="">
        </div>
        <div class="exp-edu-tex col-md-9">
            <h2>{{Experiencia.nombreE}}</h2>
            <h5></h5>
            <p  class="text-break ">{{Experiencia.descripcionE}}</p>                       
            <div class="d-grid gap-2 d-md-flex justify-content-md-end " *ngIf="isLogged">
                <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill"></i>EDITAR</button>
            </div><br>  
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash-fill"></i> BORRAR</button>
            </div>          
        </div>         
    </div>             
</div>  